.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.buttons{
  float: right;
}

.cardcontent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 52%;
}
